<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
  <h1>Welcome to the Meeting Planner App!</h1>
<p>With this app you can easily create meetings and book a room for them. Its Easy as 123</p>
<p>There are currently {{ num_meetings }} meetings in the database at this point.</p>
</body>
</html>